*{
    padding: 0;
}

a{
    background-color: aqua;
    border: 4px solid black;
    font-size: 20px;
    margin-left: 25em;
}

h1{
    font-size: 28px;
    color: darkblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    margin-top: 5em;
    background-color: darkgrey;
    border: 5px dashed grey;
    border-width: 1em;
}